@page "/about"

<h1>About This</h1>

<p>beatmania IIDXのDouble Battleモードのリザルトを記録し、競い合うサービスです。現在開発中のため、☆10、☆11のDBR、DBHRのみ対応しています。</p>

<p>※曲情報は<a target="_blank" href="https://textage.cc/">TexTage様</a>のデータを参照しています。</p>